<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background-content">
  <ion-card>
    <ion-avatar>
      <img src="assets/images/profile.jpg">
    </ion-avatar>  
  <div class="card-title">Andrea Mae Menil Layan</div>
  <div class="card-title">Online Gamer</div>
</ion-card>

<ion-list>
  <ion-item>
    <ion-icon name="book" slot="start"></ion-icon>
    <ion-label><h4>Studied Bachelor of Science in Information Tachnology at Eastern Visayas State University - Carigara Campus</h4></ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="home" slot="start"></ion-icon>
    <ion-label>Birth Place: Quezon City</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="location" slot="start"></ion-icon>
    <ion-label>From Brgy. Batug Jaro, Leyte</ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-icon name="headset" slot="start"></ion-icon>
    <ion-label>Music Lover</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="heart" slot="start"></ion-icon>
    <ion-label>Single</ion-label>
  </ion-item>
</ion-list>


</ion-content>